body {
    background: #202020;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 110px;
    height: 110px;
    background: #333;
    color: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.cell:hover {
    background: #555;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
}

button:hover {
    background: #388e3c;
}
